.detail-place {
    .container {
        padding: 6.5rem 5rem 0 5rem;
        width: clamp(50%, 100%, 100%);
        font-size: clamp(0.8rem, 1vw, 1.5rem);
        .flex {
            display: flex;
            align-items: center;
            gap: 1rem;
        }
        .section {
            display: flex;
            justify-content: center;
        }
        .top-info {
            width: clamp(800px, 100%, 1140px);
            margin-bottom: 1rem;
            .title {
                font-size: clamp(1.5rem, 2vw, 3rem);
                font-weight: 500;
                text-transform: capitalize;
                // font-style: italic;
                font-family: "Rubik", sans-serif;
                margin-bottom: 0.5rem;
            }
            .below-title {
                justify-content: space-between;
                .basic-info {
                    font-weight: 300;
                    i {
                        color: rgb(255, 56, 92);
                    }
                }
                .btn {
                    gap: 0rem;
                    button {
                        padding: 8px 10px;
                        cursor: pointer;
                        position: relative;
                        background-color: transparent;
                        border: none;
                        border-radius: 5px;
                        font-size: clamp(0.8rem, 1vw, 3rem);
                        position: relative;
                        transition: 0.25s ease-in-out;
                        transform: scale(0.9);
                    }
                    button:hover {
                        background-color: #ededed;
                    }
                }
            }
        }
        .content {
            width: clamp(300px, 100%, 1140px);
            aspect-ratio: 16/8;
            gap: 0.5rem;
            border-radius: 10px;
            border: none;
            margin-bottom: 0.5rem;
            align-items: flex-start;
            .about-content {
                width: 30%;
                height: fit-content;
                border-radius: 10px;
                box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2);
                padding: 25px 20px;
                position: relative;
                border: 1.5px solid #8fd3fe;
                user-select: none;
                cursor: pointer;
                background-color: white;

                .others {
                    flex-direction: column;
                    margin-right: auto;
                    width: 100%;
                    .other {
                        position: relative;
                        width: 100%;
                        transform: translateX(-2%);
                        i {
                            color: rgba(255, 56, 93, 0.8);
                        }
                        a,
                        p {
                            width: 100%;
                            position: absolute;
                            top: 0;
                            left: 7%;
                        }
                        a {
                            cursor: pointer;
                            color: #187bcd;
                        }
                        a:hover {
                            color: blue;
                            text-decoration: underline;
                        }
                    }
                    .address {
                        margin-bottom: 0.8rem;
                        p {
                            left: 9%;
                        }
                    }
                    .phone {
                        p {
                            left: 9%;
                        }
                    }
                    .openingHours {
                        transform: translateX(-3%);
                        p {
                            left: 10%;
                        }
                    }
                    .price {
                        transform: translateX(-3.5%);
                        p {
                            left: 10.8%;
                        }
                    }
                    .url {
                        transform: translateX(-2.7%);
                        a {
                            left: 10%;
                        }
                    }
                }
                .hashtag {
                    display: inline-grid;
                    grid-template-columns: repeat(3, auto);
                    grid-column-gap: 0.5rem;
                    color: #187bcd;
                    cursor: pointer;
                    p:hover {
                        text-decoration: underline;
                    }
                }
                .description {
                    text-align: justify;
                    margin-bottom: 1rem;
                    p {
                        line-height: 145%;
                    }
                    h3 {
                        font-weight: 550;
                        font-family: "Rubik", sans-serif;
                        text-transform: capitalize;
                        font-size: clamp(1rem, 1.6vw, 1.5rem);
                        margin-bottom: 1rem;
                        margin-top: 0.5rem;
                    }
                }
            }
            .about-content::before {
                content: "";
                position: absolute;
                height: 0;
                width: 0;
                border-left: 13px solid transparent;
                border-top: 20px solid #8fd3fe;
                border-right: 13px solid transparent;
                top: 100.5%;
            }
            .about-content::after {
                content: "";
                position: absolute;
                height: 0;
                width: 0;
                border-left: 13px solid transparent;
                border-top: 20px solid #fff;
                border-right: 13px solid transparent;
                top: 99.9%;
            }

            .image-content {
                width: 70%;
                height: 100%;
                border-radius: 10px;
                gap: 0.5rem;
                .big-img {
                    height: 100%;
                    width: 80%;
                    border: 0px;
                    overflow: hidden;
                    position: relative;
                    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2);
                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                        border: none;
                        transition: 0.25s ease-in-out;
                    }
                    img:hover {
                        transform: scale(1.1);
                        cursor: pointer;
                    }
                }
                .small-img {
                    width: 50%;
                    height: 100%;
                    border: none;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                        transition: 0.25s ease-in-out;
                        border: none;
                        overflow: hidden;
                    }
                    img:hover {
                        opacity: 0.8;
                        cursor: pointer;
                    }
                    .small-img-top {
                        width: 100%;
                        height: 50%;
                        padding-bottom: 0.25rem;
                        border: none;
                        img {
                            border-top-right-radius: 10px;
                        }
                    }
                    .small-img-bottom {
                        width: 100%;
                        height: 50%;
                        padding-top: 0.25rem;
                        border: none;
                        img {
                            border-bottom-right-radius: 10px;
                        }
                    }
                }
            }
        }
    }
}
